.file-explorer {
    h2.header {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: bold;
        margin-left: 1rem;
    }

    .footer {
        display: flex;
        flex-direction: row;

        justify-content: space-around;

        padding-top: 1rem;
    }

    .files {
        flex: 1;
        overflow-y: auto;

        .back-folder span {
            font-size: 1.5rem;
        }

        .thumbnail {
            border-radius: 0.75rem;

            max-width: 250px;
            min-width: 120px;

            margin-right: 1rem;
        }
    }
}