.app {
    background-color: black;
    min-height: 100vh;

    padding-bottom: 1rem;

    main {
        background-color: black;
        height: 100%;
    }
}

.input {
    background-color: white;
    margin-bottom: 1rem;
}